

.main-container {
    width: 90%; /* Take up 90% of the viewport width */
    max-width: 400px; /* Maximum width for larger screens */
    height: auto; /* Automatically adjust height */
    margin: 0 auto; /* Center the div horizontally */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #b11e1e;
    border-radius: 10px;
    background-color: #f9f9f9;
    
  }
  .display-screen {
    text-align: right;
    font-size: 40px;
    font-weight: 500;
    height: 70px;
  }
  #input-field {
    text-align: right;
    font-size: 20px;
    color: rgb(21, 85, 21);
  }
  #output-field {
    text-align: right;
    font-size: 35px;
    color: black;
  }

  @media (min-width: 768px) {
    .main-container {
      width: 60%; /* Slightly reduce the width for larger screens */
      max-width: 500px;
    }
  }
  
  @media (max-width: 480px) {
    .main-container {
      width: 100%; /* Full width for smaller screens */
      padding: 10px;
    }
  }
  .btn{
    width: 6rem;
    height: 6rem;
  }
  .display-screen {
    height: 60px;
    width: auto;
    border: 2px solid black;
  }
  .btns {
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    margin: 2px;
    gap: 2px;
    
.btn {
    font-size: 2rem;
    color: #041820;

}

  }
  #zero {
    width: 12rem;

  }
  .number {
    background-color: #80CBC4;
 }

 .operations {
    background-color: #ffb74d;

 }
 .ac-items {
    background-color: #CE93D8;
 }
.rows {
    display: flex;
    justify-content: space-evenly;
}