body {
  background-color: #B9B4C7;
  display: flex;
    justify-content: center;
    align-items: center;
}

  .calculator {
    
    max-width: 400px; /* Maximum width for larger screens */
    height: auto; /* Automatically adjust height */
    margin: 0 auto; /* Center the div horizontally */
    padding: 20px;
    box-sizing: border-box;
    border: 15px solid rgb(37, 20, 20);
    border-radius: 10px;
    background-color: #7E6363;
    
  }
  .display-screen {
    text-align: right;
    font-size: 40px;
    font-weight: 500;
    height: 70px;
    background-color: #3C3D37;
  }
  #input-field {
    text-align: right;
    font-size: 20px;
    color: #ECDFCC;
  }


  #output-field {
    text-align: right;
    font-size: 35px;
    color: #EEEEEE;
  }
  
  @media (min-width: 768px) {
    .main-container {
      width: 80%; /* Slightly reduce the width for larger screens */
      /* max-width: 500px; */
    }
  }
  
  @media (max-width: 400px) {
    .main-container {
      width: 100%; /* Full width for smaller screens */
      padding: 10px; 
  }
  .btn{
    flex-basis: calc(50% - 10px);
  }
   
  }
  
  .display-screen {
    height: 60px;
    width: auto;
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    border: 2px solid black;
  }
  .rows {
    display: flex;
    
  }
  
  .btns {
    display: flex;
   
    flex-direction: column;
    /* justify-content: space-evenly;
    align-items: center; */
    background-color: #7E6363;
    
    margin: 2px;
    gap: 10px;
    
.btn {
    /* font-size: 2rem;
    color: #041820; */
    width: 3.5rem;
    height: 3.5rem;
    padding: 10px 20px;
  background-color: #b3dfdf;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1.15rem;
  flex-grow: 1; /*Allow buttons to grow to fill available space*/
  margin: 5px; /* Optional: adds space between buttons */
  /* flex-basis: calc(25% - 10px);  */
}
  .btn.operations {
    background-color: #ffb74d;
  }
  }
    .btn#zero, .btn#ac {
    width: 8rem;

  }
  .number {
    background-color: #80CBC4;
 }

 .btn.ac-items, #equal {
    background-color: #CE93D8;
 }
.rows {
    display: flex;
    justify-content: space-between;
}